In [16]:
%load_ext sql
import os
import urllib.parse

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [20]:
host = 'localhost'
user = 'postgres'
dbname = 'olist'
password = urllib.parse.quote_from_bytes('CHiheb 10'.encode())
conn_string = f"postgresql://{user}:{password}@{host}/{dbname}"

In [22]:
%sql $conn_string

## Number of unique customers by state

In [25]:
%%sql
select * from customers limit 2;

 * postgresql://postgres:***@localhost/olist
2 rows affected.

[('06b8999e2fba1a1fbc88172c00ba8bc7', '861eff4711a542e4b93843c6dd7febb0', '14409', 'franca', 'SP'),
 ('18955e83d337fd6b2def6b18a428ac77', '290c77bc529b7ac935b93aa66c333dc3', '09790', 'sao bernardo do campo', 'SP')]

In [27]:
%%sql
select customer_state, count(customer_unique_id) as no_of_customers
from customers
group by customer_state
order by no_of_customers desc;

 * postgresql://postgres:***@localhost/olist
27 rows affected.

[('SP', 41746),
 ('RJ', 12852),
 ('MG', 11635),
 ('RS', 5466),
 ('PR', 5045),
 ('SC', 3637),
 ('BA', 3380),
 ('DF', 2140),
 ('ES', 2033),
 ('GO', 2020),
 ('PE', 1652),
 ('CE', 1336),
 ('PA', 975),
 ('MT', 907),
 ('MA', 747),
 ('MS', 715),
 ('PB', 536),
 ('PI', 495),
 ('RN', 485),
 ('AL', 413),
 ('SE', 350),
 ('TO', 280),
 ('RO', 253),
 ('AM', 148),
 ('AC', 81),
 ('AP', 68),
 ('RR', 46)]

## Top 10 product categories most ordered by customers

In [32]:
%%sql
select p.product_category, sum(oi.order_item_id) as no_orders
from customers c 
join orders o on (c.customer_id=o.customer_id)
join order_items oi on (o.order_id=oi.order_id)
join products p on (oi.product_id=p.product_id)
group by p.product_category
order by  no_orders desc
limit 10;

 * postgresql://postgres:***@localhost/olist
10 rows affected.

[('cama_mesa_banho', 13665),
 ('moveis_decoracao', 11540),
 ('beleza_saude', 11081),
 ('esporte_lazer', 9932),
 ('informatica_acessorios', 9874),
 ('utilidades_domesticas', 9051),
 ('relogios_presentes', 6594),
 ('ferramentas_jardim', 5874),
 ('telefonia', 5161),
 ('automotivo', 4881)]

## Average customer order price by state

In [45]:
%%sql
with t as 
(
    select c.customer_state, c.customer_id,o.order_id,(oi.order_item_id*oi.price + freight_value)  as order_price
    from customers c
    join orders o using(customer_id)
    join order_items oi using(order_id)
)
select t.customer_state, ROUND(avg(t.order_price)::decimal,3) as average_price
from t
group by t.customer_state
order by average_price desc;

 * postgresql://postgres:***@localhost/olist
27 rows affected.

[('PB', Decimal('254.922')),
 ('AC', Decimal('235.440')),
 ('AL', Decimal('230.236')),
 ('AP', Decimal('224.042')),
 ('PI', Decimal('219.868')),
 ('RO', Decimal('216.664')),
 ('PA', Decimal('216.157')),
 ('RR', Decimal('210.931')),
 ('TO', Decimal('207.695')),
 ('CE', Decimal('206.167')),
 ('SE', Decimal('205.054')),
 ('MT', Decimal('203.747')),
 ('RN', Decimal('202.121')),
 ('MA', Decimal('198.724')),
 ('PE', Decimal('188.991')),
 ('AM', Decimal('183.805')),
 ('MS', Decimal('180.053')),
 ('BA', Decimal('179.837')),
 ('GO', Decimal('178.205')),
 ('RJ', Decimal('164.286')),
 ('SC', Decimal('162.261')),
 ('DF', Decimal('160.209')),
 ('ES', Decimal('159.087')),
 ('RS', Decimal('158.831')),
 ('PR', Decimal('157.750')),
 ('MG', Decimal('155.781')),
 ('SP', Decimal('139.502'))]

##  Frequency credit card payment by state

In [47]:
%%sql
with payment_frequency as
(
    select c.customer_state, c.customer_id,o.order_id,op.payment_type
    from customers c 
    join orders o using(customer_id)
    join order_payments op using(order_id)
    where op.payment_type = 'credit_card'
)
select customer_state,payment_type, count(payment_type) as credit_card_f
from payment_frequency
group by customer_state,payment_type
order by credit_card_f desc;

 * postgresql://postgres:***@localhost/olist
27 rows affected.

[('SP', 'credit_card', 32168),
 ('RJ', 'credit_card', 10288),
 ('MG', 'credit_card', 9070),
 ('RS', 'credit_card', 3985),
 ('PR', 'credit_card', 3786),
 ('SC', 'credit_card', 2713),
 ('BA', 'credit_card', 2662),
 ('DF', 'credit_card', 1700),
 ('ES', 'credit_card', 1573),
 ('GO', 'credit_card', 1520),
 ('PE', 'credit_card', 1334),
 ('CE', 'credit_card', 1091),
 ('PA', 'credit_card', 728),
 ('MT', 'credit_card', 659),
 ('MA', 'credit_card', 535),
 ('MS', 'credit_card', 519),
 ('PB', 'credit_card', 428),
 ('RN', 'credit_card', 394),
 ('PI', 'credit_card', 389),
 ('AL', 'credit_card', 341),
 ('SE', 'credit_card', 264),
 ('TO', 'credit_card', 197),
 ('RO', 'credit_card', 186),
 ('AM', 'credit_card', 124),
 ('AC', 'credit_card', 61),
 ('AP', 'credit_card', 47),
 ('RR', 'credit_card', 33)]

## Proportion of customers paying in more than one installment by state

In [69]:
%%sql

select customer_state,no_order_with_manyinstallements, round((no_order_with_manyinstallements/total_orders)::decimal,5) as proportion
from (
        with installments as 
        (
        select c.customer_state, c.customer_id, op.payment_installments
        from customers c
        join orders o using(customer_id)
        join order_payments op using (order_id)
        where op.payment_installments >1
        )
        select customer_state, count(*) as no_order_with_manyInstallements ,(select count(*) from orders)::real as total_orders
        from installments
        group by customer_state
        order by no_order_with_manyInstallements desc) as g
where no_order_with_manyinstallements>800
order by proportion desc;

 * postgresql://postgres:***@localhost/olist
12 rows affected.

[('SP', 19970, Decimal('0.20082')),
 ('RJ', 7055, Decimal('0.07095')),
 ('MG', 6315, Decimal('0.06350')),
 ('RS', 2777, Decimal('0.02793')),
 ('PR', 2500, Decimal('0.02514')),
 ('BA', 1977, Decimal('0.01988')),
 ('SC', 1816, Decimal('0.01826')),
 ('ES', 1110, Decimal('0.01116')),
 ('GO', 1094, Decimal('0.01100')),
 ('DF', 1062, Decimal('0.01068')),
 ('PE', 1042, Decimal('0.01048')),
 ('CE', 844, Decimal('0.00849'))]