In [2]:
%load_ext sql
import os
import urllib.parse

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [11]:
host = 'localhost'
user = 'postgres'
db_name = 'olist'
password = urllib.parse.quote_from_bytes('CHiheb 10'.encode())
conn_string = f"postgresql://{user}:{password}@{host}/{db_name}"

In [12]:
%sql $conn_string

#  Exploration

In [21]:
%%sql
select * from orders limit 4;

 * postgresql://postgres:***@localhost/olist
4 rows affected.

[('e481f51cbdc54678b7cc49136f2d6af7', '9ef432eb6251297304e76186b10a928d', 'delivered', datetime.datetime(2017, 10, 2, 10, 56, 33), datetime.datetime(2017, 10, 2, 11, 7, 15), datetime.datetime(2017, 10, 4, 19, 55), datetime.datetime(2017, 10, 10, 21, 25, 13), datetime.datetime(2017, 10, 18, 0, 0)),
 ('53cdb2fc8bc7dce0b6741e2150273451', 'b0830fb4747a6c6d20dea0b8c802d7ef', 'delivered', datetime.datetime(2018, 7, 24, 20, 41, 37), datetime.datetime(2018, 7, 26, 3, 24, 27), datetime.datetime(2018, 7, 26, 14, 31), datetime.datetime(2018, 8, 7, 15, 27, 45), datetime.datetime(2018, 8, 13, 0, 0)),
 ('47770eb9100c2d0c44946d9cf07ec65d', '41ce2a54c0b03bf3443c3d931a367089', 'delivered', datetime.datetime(2018, 8, 8, 8, 38, 49), datetime.datetime(2018, 8, 8, 8, 55, 23), datetime.datetime(2018, 8, 8, 13, 50), datetime.datetime(2018, 8, 17, 18, 6, 29), datetime.datetime(2018, 9, 4, 0, 0)),
 ('949d5b44dbf5de918fe9c16f97b45f8a', 'f88197465ea7920adcdbec7375364d82', 'delivered', datetime.datetime(2017, 11, 18, 19, 28, 6), datetime.datetime(2017, 11, 18, 19, 45, 59), datetime.datetime(2017, 11, 22, 13, 39, 59), datetime.datetime(2017, 12, 2, 0, 28, 42), datetime.datetime(2017, 12, 15, 0, 0))]

In [18]:
%%sql
select distinct(date_part('year',order_delivered_customer)::int) from orders;

 * postgresql://postgres:***@localhost/olist
4 rows affected.

[(2016,), (2017,), (2018,), (None,)]

In [24]:
%%sql 
select distinct(order_status)
from orders;

 * postgresql://postgres:***@localhost/olist
8 rows affected.

[('shipped',),
 ('unavailable',),
 ('invoiced',),
 ('created',),
 ('approved',),
 ('processing',),
 ('delivered',),
 ('canceled',)]

#  Frequency of orders delivered every month

In [27]:
%%sql
select 
        date_part('year',order_delivered_customer)::int as year,
        date_part('month', order_delivered_customer)::int as month,
        count(*) as delivered_orders
from orders
where order_status = 'delivered'
and order_delivered_customer is not null
group by year, month
order by year asc ,month asc;

 * postgresql://postgres:***@localhost/olist
25 rows affected.

[(2016, 10, 205),
 (2016, 11, 58),
 (2016, 12, 4),
 (2017, 1, 283),
 (2017, 2, 1351),
 (2017, 3, 2382),
 (2017, 4, 1849),
 (2017, 5, 3751),
 (2017, 6, 3223),
 (2017, 7, 3455),
 (2017, 8, 4302),
 (2017, 9, 3965),
 (2017, 10, 4494),
 (2017, 11, 4670),
 (2017, 12, 7205),
 (2018, 1, 6597),
 (2018, 2, 5850),
 (2018, 3, 6824),
 (2018, 4, 7850),
 (2018, 5, 7111),
 (2018, 6, 6829),
 (2018, 7, 5839),
 (2018, 8, 8314),
 (2018, 9, 56),
 (2018, 10, 3)]

# Top 5 cities with most number of orders

In [32]:
%%sql

select c.customer_state,c.customer_city, count(o.order_id) as orders_num
from customers c
join orders o using(customer_id)
group by c.customer_state,c.customer_city
order by orders_num desc limit 5;

 * postgresql://postgres:***@localhost/olist
5 rows affected.

[('SP', 'sao paulo', 15540),
 ('RJ', 'rio de janeiro', 6882),
 ('MG', 'belo horizonte', 2773),
 ('DF', 'brasilia', 2131),
 ('PR', 'curitiba', 1521)]

#  Deliveries by hour

In [34]:
%%sql
select 
        date_part('hour',order_delivered_customer)::int as hour,
        count(*) as delivered_orders
from orders
where order_status = 'delivered'
and order_delivered_customer is not null
group by hour
order by hour asc;

 * postgresql://postgres:***@localhost/olist
24 rows affected.

[(0, 2885),
 (1, 1515),
 (2, 649),
 (3, 260),
 (4, 187),
 (5, 198),
 (6, 269),
 (7, 396),
 (8, 779),
 (9, 1196),
 (10, 1798),
 (11, 2579),
 (12, 3651),
 (13, 4561),
 (14, 5644),
 (15, 6740),
 (16, 7901),
 (17, 8775),
 (18, 9639),
 (19, 9484),
 (20, 9157),
 (21, 7627),
 (22, 6142),
 (23, 4438)]

#  Average difference between estimated and actual delivery (days)                by month

In [54]:
%%sql 

with month_estimation
as 
    (
        select date_part('month',order_delivered_customer)::int as month,
        abs(date_part('day',order_estimated_delivery-order_delivered_customer)) as difference
        from orders
        where order_delivered_customer is not null
        and order_status = 'delivered'
    )
select month,avg(difference)::real avg_diff
from month_estimation
group by month
order by avg_diff desc;

 * postgresql://postgres:***@localhost/olist
12 rows affected.

[(6, 15.882909),
 (2, 14.489932),
 (1, 14.1286335),
 (10, 13.635262),
 (7, 12.740585),
 (5, 12.378843),
 (4, 12.180327),
 (9, 11.855011),
 (12, 11.545568),
 (11, 10.69522),
 (3, 10.309581),
 (8, 9.758006)]

# Average difference between order and delivery time  (days)    by state

In [53]:
%%sql
with state_difference
as (
    select c.customer_state, 
    date_part('day',order_delivered_customer - order_purchase) as diff
    from customers c
    join orders o on(c.customer_id = o.customer_id)
    where order_status = 'delivered'
    and order_delivered_customer is not null

)
select customer_state, avg(diff)::real as avg_diff
        from state_difference
        group by customer_state
        order by avg_diff desc;

 * postgresql://postgres:***@localhost/olist
27 rows affected.

[('RR', 28.975609),
 ('AP', 26.731344),
 ('AM', 25.986206),
 ('AL', 24.040302),
 ('PA', 23.316067),
 ('MA', 21.117155),
 ('SE', 21.02985),
 ('CE', 20.817827),
 ('AC', 20.6375),
 ('PB', 19.953579),
 ('PI', 18.993698),
 ('RO', 18.91358),
 ('BA', 18.8664),
 ('RN', 18.824894),
 ('PE', 17.965473),
 ('MT', 17.59368),
 ('TO', 17.226278),
 ('ES', 15.33183),
 ('MS', 15.191155),
 ('GO', 15.150741),
 ('RJ', 14.848583),
 ('RS', 14.819237),
 ('SC', 14.4751835),
 ('DF', 12.509134),
 ('MG', 11.542188),
 ('PR', 11.526711),
 ('SP', 8.298094)]