In [2]:
%load_ext sql
import urllib.parse

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [3]:
# database connexion

host = 'localhost'
user = 'postgres'
dbname = 'olist'
password = urllib.parse.quote_from_bytes('CHiheb 10'.encode())
conn_string = f"postgresql://{user}:{password}@{host}/{dbname}"
%sql $conn_string

# Exploration

In [4]:
%%sql

select * from sellers limit 10;

 * postgresql://postgres:***@localhost/olist
10 rows affected.

[('3442f8959a84dea7ee197c632cb2df15', '13023', 'campinas', 'SP'),
 ('d1b65fc7debc3361ea86b5f14c68d2e2', '13844', 'mogi guacu', 'SP'),
 ('ce3ad9de960102d0677a81f5d0bb7b2d', '20031', 'rio de janeiro', 'RJ'),
 ('c0f3eea2e14555b6faeea3dd58c1b1c3', '04195', 'sao paulo', 'SP'),
 ('51a04a8a6bdcb23deccc82b0b80742cf', '12914', 'braganca paulista', 'SP'),
 ('c240c4061717ac1806ae6ee72be3533b', '20920', 'rio de janeiro', 'RJ'),
 ('e49c26c3edfa46d227d5121a6b6e4d37', '55325', 'brejao', 'PE'),
 ('1b938a7ec6ac5061a66a3766e0e75f90', '16304', 'penapolis', 'SP'),
 ('768a86e36ad6aae3d03ee3c6433d61df', '01529', 'sao paulo', 'SP'),
 ('ccc4bbb5f32a6ab2b7066a4130f114e3', '80310', 'curitiba', 'PR')]

# Sellers by state

In [5]:
%%sql 

with seller_state
as 
(
    select seller_state, count(seller_id) as number_of_sellers
    from sellers 
    group by seller_state
)
select seller_state, number_of_sellers, rank() over(order by number_of_sellers desc)
from seller_state 
limit 10;

 * postgresql://postgres:***@localhost/olist
10 rows affected.

[('SP', 1849, 1),
 ('PR', 349, 2),
 ('MG', 244, 3),
 ('SC', 190, 4),
 ('RJ', 171, 5),
 ('RS', 129, 6),
 ('GO', 40, 7),
 ('DF', 30, 8),
 ('ES', 23, 9),
 ('BA', 19, 10)]

# Top 5 sellers by average shipping time

In [6]:
%%sql 

with t 
as 
(
    select seller_id,
            extract (epoch from (shipping_limit_date-order_purchase))/3600 as shipping_duration,
            extract(epoch from (order_delivered_carrier-order_purchase))/3600 as delivery_interval
            from sellers s
            join order_items oi using(seller_id)
            join orders o using(order_id)
            where order_status = 'delivered'
    

)
select seller_id,avg(shipping_duration)::real as ship_limit_time, avg(delivery_interval)::real as avg_del_time
from t 
group by seller_id
order by ship_limit_time 
limit 5;

 * postgresql://postgres:***@localhost/olist
5 rows affected.

[('466222e777149751370e7e98fb623b0c', 48.18111, 15.025833),
 ('ee2fbacc2fc3794e656cc4d933d59ce7', 48.18222, 4.099815),
 ('7d81e74a4755b552267cd5e081563028', 50.314167, 22.925),
 ('392f7f2c797e4dc077e4311bde2ab8ce', 63.53389, 19.179861),
 ('52a50b42accf164f9f019941e5759d9b', 64.2218, 32.470695)]

# Average sales per order by seller

In [7]:
%%sql
with t as
( select seller_id,order_id,price*order_item_id as order_revenue
        from order_items)
select t.seller_id,avg(order_revenue)::real as avg_revenue_order , rank() over(order by avg(order_revenue) desc)
from t
group by seller_id
order by avg_revenue_order desc limit 10;

 * postgresql://postgres:***@localhost/olist
10 rows affected.

[('80ceebb4ee9b31afb6c6a916a574a1e2', 6729.0, 1),
 ('ee27a8f15b1dded4d213a468ba4eb391', 6499.0, 2),
 ('b37c4c02bda3161a7546a4e6d222d5b2', 5567.0, 3),
 ('585175ec331ea177fa47199e39a6170a', 3549.0, 4),
 ('abe021b01ba992245271b9aa422032df', 3360.0, 5),
 ('a00824eb9093d40e589b940ec45c4eb0', 3133.3232, 6),
 ('e2a1ac9bf33e5549a2a4f834e70df2f8', 2999.89, 7),
 ('e908c0f3646e8b60375734a350d95d71', 2951.0, 8),
 ('d63c73efd41eb002280e7ec831424edb', 2799.0, 9),
 ('1444c08e64d55fb3c25f0f09c07ffcf2', 2749.0, 10)]

# TOP 3 sellers revenue by customer_state

In [8]:
%%sql
select * from (with t as
         (select customer_state, o.order_id, oi.seller_id, price * order_item_id as order_revenue
          from customers c
                   join orders o using (customer_id)
                   join order_items oi using (order_id))
select customer_state,
       seller_id,
       sum(order_revenue)::real as total_revenue,
       rank() over(partition by customer_state order by sum(order_revenue) desc) as rank
from t
group by customer_state, seller_id, seller_id) as t1
where rank<4
order by customer_state;

 * postgresql://postgres:***@localhost/olist
81 rows affected.

[('AC', '5a8e7d5003a1f221f9e1d6e411de7c23', 1677.9, 1),
 ('AC', '53243585a1d6dc2643021fd1853d8905', 1200.0, 2),
 ('AC', '7e93a43ef30c4f03f38b393420bc753a', 961.6, 3),
 ('AL', 'ccc4bbb5f32a6ab2b7066a4130f114e3', 5130.55, 1),
 ('AL', '7e93a43ef30c4f03f38b393420bc753a', 3350.88, 2),
 ('AL', 'af4a0e4cfe1d9c26b6712b1be25a72e5', 3239.97, 3),
 ('AM', '05feb94f19d094d4b0f9281f0b1d4c99', 1688.0, 1),
 ('AM', 'edb1ef5e36e0c8cd84eb3c9b003e486d', 1340.3, 2),
 ('AM', '53243585a1d6dc2643021fd1853d8905', 1340.0, 3),
 ('AP', '1c68394e931a64f90ea236c5ea590300', 2037.36, 1),
 ('AP', '53243585a1d6dc2643021fd1853d8905', 1626.9, 2),
 ('AP', 'b33e7c55446eabf8fe1a42d037ac7d6d', 1017.0, 3),
 ('BA', '53243585a1d6dc2643021fd1853d8905', 26564.33, 1),
 ('BA', '7c67e1448b00f6e969d365cea6b010ab', 20978.96, 2),
 ('BA', '7681ef142fd2c19048da7430856b5588', 9689.0, 3),
 ('CE', 'f7ba60f8c3f99e7ee4042fdef03b70c4', 10233.0, 1),
 ('CE', '53243585a1d6dc2643021fd1853d8905', 7598.92, 2),
 ('CE', '7e93a43ef30c4f03f38b393420bc753a', 7512.01, 3),
 ('DF', '53243585a1d6dc2643021fd1853d8905', 7841.63, 1),
 ('DF', '4869f7a5dfa277a7dca6462dcf3b52b2', 5690.1, 2),
 ('DF', 'fa1c13f2614d7b5c4749cbc52fecda94', 5581.69, 3),
 ('ES', 'b37c4c02bda3161a7546a4e6d222d5b2', 17900.0, 1),
 ('ES', '4869f7a5dfa277a7dca6462dcf3b52b2', 8915.189, 2),
 ('ES', '1025f0e2d44d7041d6cf58b6550e0bfa', 6768.7, 3),
 ('GO', 'ce27a3cc3c8cc1ea79d11e561e9bebb6', 20727.0, 1),
 ('GO', '1025f0e2d44d7041d6cf58b6550e0bfa', 8241.95, 2),
 ('GO', 'c4f7fee5b0db50e87766f5a4d1b1b758', 6899.8496, 3),
 ('MA', '53243585a1d6dc2643021fd1853d8905', 8754.12, 1),
 ('MA', '7c67e1448b00f6e969d365cea6b010ab', 5129.6, 2),
 ('MA', '9803a40e82e45418ab7fb84091af5231', 4899.75, 3),
 ('MG', '4a3ca9315b744ce9f8e9374361493884', 28982.49, 1),
 ('MG', 'da8622b14eb17ae2831f4ac5b9dab84a', 28836.799, 2),
 ('MG', 'a1043bafd471dff536d0c462352beb48', 28670.07, 3),
 ('MS', 'e3b4998c7a498169dc7bce44e6bb6277', 6735.0, 1),
 ('MS', '2fdde51ad3e12f297da656d4fbd5d0b5', 3259.0, 2),
 ('MS', 'e2a1ac9bf33e5549a2a4f834e70df2f8', 2999.89, 3),
 ('MT', '52d76513f0c4d97f3b99570e2c94ee31', 10297.891, 1),
 ('MT', '7e93a43ef30c4f03f38b393420bc753a', 4343.93, 2),
 ('MT', '8ff38bc3969e67c36c48343a07090f66', 4340.0, 3),
 ('PA', '7e93a43ef30c4f03f38b393420bc753a', 6891.23, 1),
 ('PA', '5dceca129747e92ff8ef7a997dc4f8ca', 4758.88, 2),
 ('PA', '53243585a1d6dc2643021fd1853d8905', 4458.4, 3),
 ('PB', 'c72de06d72748d1a0dfb2125be43ba63', 5829.0, 1),
 ('PB', 'f7ba60f8c3f99e7ee4042fdef03b70c4', 3935.0, 2),
 ('PB', '56e361f411e38dcef17cdc2a3d99628b', 3675.0, 3),
 ('PE', '53243585a1d6dc2643021fd1853d8905', 11601.02, 1),
 ('PE', '4a3ca9315b744ce9f8e9374361493884', 5937.1, 2),
 ('PE', 'ccc4bbb5f32a6ab2b7066a4130f114e3', 5647.3, 3),
 ('PI', 'b3b17aab11f273023a5f22ca52e1eb70', 3594.0, 1),
 ('PI', '04aa0a1c5ce6b222003403a3e11c3cc0', 3117.0, 2),
 ('PI', 'ccc4bbb5f32a6ab2b7066a4130f114e3', 2799.2, 3),
 ('PR', '7c67e1448b00f6e969d365cea6b010ab', 19206.23, 1),
 ('PR', '1025f0e2d44d7041d6cf58b6550e0bfa', 15146.49, 2),
 ('PR', '634964b17796e64304cadf1ad3050fb7', 12393.8, 3),
 ('RJ', '7c67e1448b00f6e969d365cea6b010ab', 61318.96, 1),
 ('RJ', 'b37c4c02bda3161a7546a4e6d222d5b2', 60655.0, 2),
 ('RJ', '4869f7a5dfa277a7dca6462dcf3b52b2', 39960.918, 3),
 ('RN', 'fa1c13f2614d7b5c4749cbc52fecda94', 2830.7, 1),
 ('RN', '282f23a9769b2690c5dda22e316f9941', 2530.5, 2),
 ('RN', '7e93a43ef30c4f03f38b393420bc753a', 2388.0, 3),
 ('RO', '53243585a1d6dc2643021fd1853d8905', 2499.9, 1),
 ('RO', '2bf6a2c1e71bbd29a4ad64e6d3c3629f', 2400.0, 2),
 ('RO', 'ba90964cff9b9e0e6f32b23b82465f7b', 1999.0, 3),
 ('RR', '5dceca129747e92ff8ef7a997dc4f8ca', 949.9, 1),
 ('RR', 'da8622b14eb17ae2831f4ac5b9dab84a', 809.69995, 2),
 ('RR', '8f2ce03f928b567e3d56181ae20ae952', 709.6, 3),
 ('RS', '53243585a1d6dc2643021fd1853d8905', 22105.36, 1),
 ('RS', '7a67c85e85bb2ce8582c35f2203ad736', 14070.69, 2),
 ('RS', '1025f0e2d44d7041d6cf58b6550e0bfa', 13710.87, 3),
 ('SC', '1f50f920176fa81dab994f9023523100', 14528.5, 1),
 ('SC', '1025f0e2d44d7041d6cf58b6550e0bfa', 12552.57, 2),
 ('SC', '7c67e1448b00f6e969d365cea6b010ab', 8057.08, 3),
 ('SE', '53243585a1d6dc2643021fd1853d8905', 3934.4, 1),
 ('SE', 'ccc4bbb5f32a6ab2b7066a4130f114e3', 3490.4, 2),
 ('SE', 'de722cd6dad950a92b7d4f82673f8833', 1876.3999, 3),
 ('SP', '7c67e1448b00f6e969d365cea6b010ab', 115870.67, 1),
 ('SP', '4a3ca9315b744ce9f8e9374361493884', 97923.94, 2),
 ('SP', 'da8622b14eb17ae2831f4ac5b9dab84a', 93375.49, 3),
 ('TO', '784ba75dd9d20200c4caed3d7a77141a', 2649.99, 1),
 ('TO', 'ba90964cff9b9e0e6f32b23b82465f7b', 1999.0, 2),
 ('TO', '53243585a1d6dc2643021fd1853d8905', 1449.0, 3)]